.news-container{
    display: grid;
    background-color: var(--main-dark-highlight-color);
    grid-template-columns: 1fr 1fr;
    color: white;
    
    &__posting{
        margin: 1rem;
        padding: 1rem;
        
        header{
            display: grid;
            grid-template-columns: 60% 40%;
            
            height: 10rem;
        }

        &__date{
            span{
                display: inline-block;
            }

            font-size: 2rem;
            
            &__day{
                padding-right: 1rem;
                font-size: 6rem;
            }
        }
       
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__heading{
            font-size: 2rem;
        }
        &__btn{
            cursor: pointer;
            color: white;
            background-color: var(--main-dark-color);
        }
        &__content{
            display: none;
        }

    }
    &__posting:first-child{
        border-right: 2px solid white;
    }
}
.hiddenContent{
    display: block;
}

@media only screen and (max-width: 850px){
    .news-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    
        &__posting:first-child{
            border-right: none;
            border-bottom: 2px solid white;
        }
        &__posting__content *{
            width: 100%;
        }

        figure{
            margin: 0;
        }
    }
}

@media only screen and (max-width: 450px){
    .news-container{
        &__posting{
            margin: 0;
            &__date{

    
                font-size: 1rem;
                
                &__day{
                    padding-right: 0.5rem;
                    font-size: 7rem;
                }
            }
        }
    }
}